/* Embedded content with flexible width and proportional height. */

.rwd-media {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
}

.rwd-media iframe,
.rwd-media video {
  position: absolute;
  width: 100%;
  height: 100%;  
}


body { background: #ddd; margin: 0; }

.content { width: 50%; padding: 2em; background: #fff; }
